<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Leetcode - Ranklist</title>
{% include "common/head.html" %}
<link rel="stylesheet" type="text/css" href="/static/css/rank_list.css" />
</head>
<body>
    <h1>Leetcode Ranklist</h1>
    {% include "rank_list_nav.html" %}
    <table id="rank_list_table" >
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Nick name</th>
        <th>Rating</th>
        <th>Contests Count</th>
    </tr>
    {% for i in range(users|length) %}
    <tr>
        <td>{{ users[i].ranking }}</td>
        <td><a href='/u/{{ users[i].user_name }}/'>{{ users[i].user_name }}</a></td>
        <td>{{ users[i].real_name }}</td>
        <td>{{ users[i].rating }}</td>
        <td>{{ users[i].contests_count }}</td>
    </tr>
    {% endfor %}
    </table>
    {% include "rank_list_nav.html" %}
</body>
</html>
