<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Leetcode - User {{ user_name }}</title>
{% include "common/head.html" %}
</head>
<body>
    Name: {{ user.user_name }}</br>
    Nick Name: {{ user.real_name }}</br>
    Ranking: {{ user.local_ranking }}</br>
    <table border="1">
    <tr>
        <th>Contest</th>
        <th>Ranking</th>
        <th>Rating</th>
    </tr>
    {% for i in range(user.rating|length) %}
    <tr>
        <td>{{ user.contest_name[i] }}</td>
        <td>{{ user.ranking[i] }}</td>
        <td>{{ user.rating[i] }}</td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>
